<div class="container">
  <table mat-table [dataSource]="matTableDataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let i=index">{{i+1}}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{element.category}}</td>
    </ng-container>
    <ng-container matColumnDef="categoryList">
      <th mat-header-cell *matHeaderCellDef>Category List</th>
      <td mat-cell *matCellDef="let element">{{element.categoryLists}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editChip(element)" style="width: 40px;">E</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table> 

  <!-- <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8">
 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="categoryList">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</div>
<ng-template #templateRef  let-data="data">
  {{data | json}}
    <form [formGroup]="chipForm">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput type="text" formControlName="category">
        </mat-form-field>
          <br>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-list #chipGrid aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
              {{fruit}}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input placeholder="New Fruit..." #fruitInput formControlName="categoryLists"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>    
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="SubmitForm()">Submit</button>
    </form>
</ng-template>

<ng-container >
  <ng-template *ngTemplateOutlet="templateRef;">
  </ng-template>
</ng-container>