<div class="container">
    <form [formGroup]="chipForm">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput type="text" formControlName="category">
        </mat-form-field>
          <br>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-list #chipGrid aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
              {{fruit}}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input placeholder="New Fruit..." #fruitInput formControlName="categoryLists"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="SubmitForm()">Submit</button>
    </form>
</div>