 <select (change)="changeRouter($event)">
  <option>Select Topics</option>
  <option value="http-interceptor" >Http Interceptor</option>
  <option value="template-driven-from">Template Driven Form</option>
  <option value="reactive-form">Reactive Form</option>
  <option value="input-decorator">Input Decorator</option>
  <option value="output-decorator">Output Decorator</option>
  <option value="delete-multiple-records">Delete Multi Records</option>
  <option value="generic-function">Generic Function</option>
  <option value="search-filteration">Search Filteration</option>
  <option value="shadow-dom">Shadow DOM</option>
  <option value="ng-template">NG Template</option>
  <option value="matchip">Mat-Chip</option>
  <option value="host-listener">Host Listener</option>
  <option value="view-child">View Child</option>
</select>
<app-child #childComponent ></app-child> 
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<router-outlet></router-outlet>
  <!-- <app-output-decorator (childCData)="onchange($event)"></app-output-decorator>  
<br><br><br> 
  <h3>Parent Component</h3>
  {{dataOfParentCom}}
     <app-chartjs></app-chartjs>    
<router-outlet></router-outlet>
<hr>
<app-input-decorator [appdata]="appComponentData"></app-input-decorator>
<hr>
<br><br>
A-Component<app-a-component></app-a-component><br><br>
B-Component<app-b-component></app-b-component>
<br><br>
<hr>  
<p>App Component Paragraph Content inside shadow-dom component form app-component</p>
<h3>App Component Heading</h3>
<app-shadow-dom>
</app-shadow-dom> -->