<ul>
  <li><button mat-button class="btn" routerLink="http-interceptor">HttpInterceptor</button></li>
  <li><button mat-button class="btn" routerLink="template-driven-from">Template Driven Form</button></li>
  <li><button mat-button class="btn" routerLink="reactive-form">Reactive Form</button></li>
  <li><button mat-button class="btn" routerLink="input-decorator">Input Decorator</button></li>
  <li><button mat-button class="btn" routerLink="output-decorator">Output Decorator</button></li>
  <li><button mat-button class="btn" routerLink="delete-multiple-records">Delete Multi Records</button></li>
</ul>
<router-outlet></router-outlet>