ul{
    padding: 10px;
    display: flex;
    li{
       list-style: none;
       margin: 0px 10px;
       .btn{
            background-color: rgb(40, 165, 9);
            color: white;
       }
    }
}