/* You can add global styles to this file, and also import other style files */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heading{
    color: rgb(180, 3, 3);
}

.form-width{
    width: 100%;
}